@import url(./__avatar/profile__avatar.css);
@import url(./__name/profile__name.css);
@import url(./__occupation/profile__occupation.css);
@import url(./__add-button/profile__add-button.css);
@import url(./__addit-button/profile__addit-button.css);
@import url(./__info/profile__info.css);
@import url(./__button-name/profile__button-name.css);
@import url(./__icon/profile__icon.css);

.profile {
    max-width: 882px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 920px) {
    .profile {}
}

@media screen and (max-width: 640px) {
    .profile {
        justify-content: center;
        flex-direction: column;

    }
}

@media screen and (max-width: 425px) {
    .profile {}
}