.new-item-popup__save {
    width: 83%;
    height: 50.15px;
    background: #000000;
    border-radius: 2px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 23px;
    cursor: pointer;
}

.new-item-popup__save:hover {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
}
