.profile__add-button {
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
    background: url(../../../images/Vector.png) no-repeat;
    background-position: center;
    background-size: auto 22px;
    margin: 38px 0px 0px 0px;
}

@media screen and (max-width: 640px) {
    .profile__add-button {
        margin: 33px 0 0 0;
        width: 282px;
        background-size: auto 16px;

    }
}

.profile__add-button:hover {
    opacity: 0.6;
}