.elements__element-like {
    margin: 0 18.24px 0 0px;
    height: 18.13px;
    width: 21.76px;
    background: none;
    background-image: url(../../../images/like.png);
    border: none;
    cursor: pointer;
}

.elements__element-like:focus {
    outline: none;
}

.elements__element-like:hover {
    opacity: 0.6;
}